/*
* Projects: Country Information App
* Author: GHirsch
* Created: 10/13/2016
*
*/

html, body {
	padding-top: 25px;
	padding-bottom: 20px;
  background-color: #f2f2f2;
}

/* Bootstrap overrides */
.jumbotron {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.navbar-inverse {
	opacity: .9;
}
/* End overrides */

#content {
	border: 1px solid #eee;
  border-radius: 1px;
  background-color: #fff;
  padding: 20px;
}

#contextMenu {
  visibility: hidden;
  width: 300px;
  background: #fff;
  border: 2px solid #ccc;
  z-index: 999;
}

#country-strip {
	background: transparent url('../images/flags.png') repeat-x 0 0;
	height: 53px;
	width: 100%;
	position: fixed;
	top: 0;
	opacity: .9;
}

#map {
	height: 500px;
}